body {
  font-family: "Futura", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  line-height:1.2;
  letter-spacing: 0.3px;
}
a {
  color:#9012FE;
}
a:hover,a:focus {
  color:#9012FE;
  text-decoration:underline;
}
h1 {
  font-size:26px;
  margin:0 0 20px;
  text-transform: capitalize;
}
h2 {
  font-size:20px;
  margin:0 0 10px;
  text-transform: capitalize;
}
.btn {
  background:#9012FE;
  color:#fff;
  letter-spacing: 2px;
  padding:14px 20px;
  text-transform: uppercase;
  width: 100%;
}
.btn:hover {
  color:#fff;
  background:#C76BFF;
}
.form-group {
  margin-bottom:30px;
}
.form-control {
  display: inline-block;
  height: inherit;
  padding:12px 16px;
}
select {
  height:50px !important;
  padding-left:50px;
  width:auto !important;
}
form label {
  margin-bottom:8px;
}
.form-checks label {
  cursor: pointer;
  display:block;
}
.form-note {
  color:#666;
  font-size:12px;
  margin:10px 0 0;
}
hr {
  border-color:#ccc;
  width:145px;
}
p {
  line-height: 1.6;
}
label {
  display:block;
  font-weight:normal;
}
.container {
  padding-bottom: 60px;
}

.logo {
  margin:70px 0 30px;
  text-align:center;
}
.logo img {
  width:320px;
}
.logo-coins {
  margin:0 0 50px;
  text-align:center;
}
.logo-coins img {
  width:290px;
}

.material-icons {
  position: relative;
  top:4px;
}

.top-bar {
  background: #333;
  color:#fff;
}
.top-bar .L,.top-bar .R {
  float:left;
  padding:15px;
  text-align: center;
  width:50%;
}
.top-bar .L {
  vertical-align: middle;
}
.top-bar .L span {
  display:inline-block;
  font-size: 24px;
  margin-right: 6px;
}
.top-bar a {
  color: #fff;
}
.top-bar a img {
  height: 20px;
}
.top-bar .L a img {
  height: 22px;
}
.top-bar a i {
  color:#c7e4ff;
}
.top-bar section {
  display: none;
}

.alerts-container {
  padding: 0 40px 40px;
}
.container-close {
  float:right;
}
.container-close i {
  font-size:36px;
  cursor:pointer;
}

.alerts-select span {
  background:#eee;
  border:1px solid #fff;
  border-radius: 3px;
  color:#000;
  display: inline-block;
  font-size: 13px;
  margin:0 15px 15px 0;
  padding:0 0 0 10px;
}
.alerts-select span:hover {
  cursor: pointer;
}
.alerts-select span.without-pair, .alerts-select span b {
  padding:8px 12px;
}
.alerts-select span.active {
  background:#454545;
  border:1px solid #fff;
  color:#fff;
}
.alerts-select span b {
  background:#ddd;
  border-radius: 3px;
  display: inline-block;
  font-weight: normal;
  margin:0 0 0 10px;
}
.alerts-select span.active b {
  background:#666;
  color:#ccc;
}
.alerts-select-exchanges {
  text-transform: capitalize;
}

.alerts-help-text {
  font-size:16px;
  margin:0 0 20px;
}
.alerts-help-text a {
  font-size:16px;
  margin:0 10px 0 0;
}

.data-updates {
  padding:0 0 100px;
}
table {
  display: none;
  margin:0 0 30px;
  width:100%;
}
table {
  display: table;
  font-size: 12px;
  text-transform: capitalize;
}
td:hover {
  cursor:pointer;
}
tr.data-highlight td {
  background:#333;
  color:#fff;
}
th {
  background: #dee2e8;
  font-size: 11px;
}
th,td {
  border:1px solid #ddd;
  padding:10px;
}
.data-pair {
  text-transform: lowercase;
}
.data-currency,.data-updates .data-exchange {
  font-weight: bold;
}
.table-updated-at {
  color:#888;
  font-size:10px;
  text-align: center;
}
.data-price-min,.data-price-max,.spread-overview-spread-price {
  background: #ddffcb;
}
.table-last-price-spread {
  background: #678e52;
  color:#fff;
  font-weight:bold;
}
.table-bid-ask-spread {
  background: #63a2ff;
  color:#fff;
  font-weight:bold;
  text-align: center;
}
.data-bas-max,.spread-overview-ba {
  background:#ddf2ff;
}
.spread-overview-spread-price,.spread-overview-ba {
  font-weight:bold;
}
.filter-by-currency {
  margin:0 0 15px;
}
.filter-by-currency span {
  background:#eee;
  border-radius:3px;
  display: inline-block;
  font-size:11px;
  margin:0 15px 15px 0;
  padding:10px;
  cursor:pointer;
}
.filter-by-currency span.active {
  background:#678e52;
  color:#fff;
}
.table-tabs, .table-tabs.hide {
  display: none;
}
.updated-flash {
  background:#ddffcb;
}

.balances {
  margin-bottom:20px;
}
.balances li {
  margin-bottom:8px;
}

.home-latest th {
  text-align: center;
}
.latest-feature {
  padding:20px 0 10px;
  text-align: center;
}
.latest-feature span {
  display: block;
  margin:0 0 10px;
}
.latest-val {
  font-size:20px;
}
.latest-pair {
  font-size:16px;
  font-weight: bold;
  text-transform: capitalize;
}
.latest-exchange {
  line-height:1.8;
}
.home-chart {
  margin:0 0 25px;
}
#lines-btc-usd {
  margin-bottom:30px;
}
.donate p {
  word-wrap: break-word;
}

.footer-links, .footer-contact, .copyright {
  text-align: center;
}
.footer-links {
  margin: 80px 0 30px;
}
.footer-links a {
  margin: 0 10px;
}
.footer-contact {
  margin:0 0 30px;
}
.copyright {
  color: #666;
  font-size:12px;
}
.content-page p {
  margin:0 0 20px;
}
