@font-face {
	font-family: 'Futura';
  src: url('../fonts/FuturaStd-Light.eot');
	src: url('../fonts/FuturaStd-Light.eot') format('embedded-opentype'),
		url('../fonts/FuturaStd-Light.woff') format('woff'),
		url('../fonts/FuturaStd-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Futura';
  src: url('../fonts/FuturaStd-Book.eot');
	src: url('../fonts/FuturaStd-Book.eot') format('embedded-opentype'),
		url('../fonts/FuturaStd-Book.woff') format('woff'),
		url('../fonts/FuturaStd-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Futura';
  src: url('../fonts/FuturaStd-Medium.eot');
	src: url('../fonts/FuturaStd-Medium.eot') format('embedded-opentype'),
		url('../fonts/FuturaStd-Medium.woff') format('woff'),
		url('../fonts/FuturaStd-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Futura';
  src: url('../fonts/FuturaStd-Heavy.eot');
	src: url('../fonts/FuturaStd-Heavy.eot') format('embedded-opentype'),
		url('../fonts/FuturaStd-Heavy.woff') format('woff'),
		url('../fonts/FuturaStd-Heavy.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Futura';
  src: url('../fonts/FuturaStd-Bold.eot');
	src: url('../fonts/FuturaStd-Bold.eot') format('embedded-opentype'),
		url('../fonts/FuturaStd-Bold.woff') format('woff'),
		url('../fonts/FuturaStd-Bold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
